Projects/Windows/TiX.vcxproj.user
Projects/Windows/.vs/
Projects/Windows/Debug/
Projects/Windows/x64/
*.user
*.cso
*.tres
Binary/Windows/02.ResConverter.exe
Binary/Windows/04.VTTextureBaker.exe
Binary/Windows/TiX.dll
Sources/Externals/libpng1.6.37/projects/vstudio/.vs/
Sources/Externals/libpng1.6.37/projects/vstudio/libpng/Release Library/
Sources/Externals/libpng1.6.37/projects/vstudio/pnglibconf/Release/
Sources/Externals/libpng1.6.37/projects/vstudio/zlib/Release Library/
Sources/Externals/libpng1.6.37/projects/vstudio/Release Library/
Sources/Externals/libpng1.6.37/.vs/
Sources/Externals/libpng1.6.37/projects/vstudio/libpng/x64/
Sources/Externals/libpng1.6.37/projects/vstudio/x64/
Sources/Externals/libpng1.6.37/projects/vstudio/zlib/x64/
Sources/Externals/libpng1.6.37/projects/vstudio/pnglibconf/x64/
Sources/Externals/libpng1.6.37/projects/vstudio/zlib/Debug Library/
Samples/09.RTAO/Content/Saved/
Samples/09.RTAO/Content/ArchVis/
Samples/09.RTAO/Content/Room/
Samples/10.OceanFFT/Content/Saved/
Samples/11.FLIPSimulation/Content/Saved/
