source1/
Projects/Windows/TiX.vcxproj.user
Projects/Windows/.vs/
Projects/Windows/Debug/
Projects/Windows/x64/
Samples/01.Startup/x64/
*.user
Samples/02.MeshConverter/x64/
Samples/02.MeshConverter/head.tix
Samples/03.SSSSSample/x64/
*.cso
*.tres
Binary/Windows/02.ResConverter.exe
Binary/Windows/TiX.dll
Samples/03.SSSSSample/Content/Cooked/
Samples/04.TempCompute/x64/
Samples/04.TempCompute/Content/Cooked/
Samples/04.VirtualTexture/Content/Cooked/
Samples/04.VirtualTexture/x64/
