Projects/Windows/TiX.vcxproj.user
Projects/Windows/.vs/
Projects/Windows/Debug/
Projects/Windows/x64/
*.user
*.cso
*.tres
Binary/Windows/02.ResConverter.exe
Binary/Windows/04.VTTextureBaker.exe
Binary/Windows/TiX.dll
